$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #409EFF;
$tiffany: #4AB7BD;
$orange:#fa7c4d;
$yellow:#FEC171;
$panGreen: #409EFF;
$blue: #409EFF;
$green1: #44b549;


//归档色值

$cl-0: #cfeffe;
$cl-1: #a8f8bb;
$cl-2: #fedbd7;
$cl-3: #ffe8c9;
$cl-4: #fdfcd5;
$cl-10: #25a49e;

//sidebar
$menuBg:#001529;
$subMenuBg:#001529;
$menuHover:#001529;
